.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__title {
  margin: 0;
  font: 500 20px/1.2 "Poppins";
  max-width: calc(100% - 48px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8PX;
  cursor: pointer;
  margin-bottom: 12PX;
}


.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-btn {
  cursor: pointer;
  width: 32px;
  height: 32px;
 position: absolute;
 top: 10px;
  right: 10px;
  background-image: url(../images/delete-btn.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
}

.card__delete-btn:hover {
  opacity: 1;
}

.card__like-btn {
  padding: 0;
  margin: 0;
  background-image: url(../images/heart.svg);
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}


.card__like-btn:hover {
  opacity: 0.8;

}

.card__like-btn_active {
  background-image: url(../images/Like-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}


@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title{
    max-width: 235px;
  }
}
