.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  visibility: hidden;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
 content: "Edit profile";
}

.profile__avatar {
  border-radius: 8px;
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121b2;
  font-size: 18px;
  line-height: 1;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  font: 500 16px/1 Poppins;
  color: #212121;
  cursor: pointer;
  opacity: 0.7; 
}

.profile__edit-btn:hover{
  opacity: 1;
}

.profile__add-btn {
margin-left: auto;
width: 157px;
height: 52px;
background: #212121;
color: #fcf5e5;
border-radius: 8px;
padding: 0;
align-self: end;
font-size: 16px;
line-height: 1;
font-weight: 500;
border: none;
cursor: pointer;
}

.profile__add-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
    visibility: visible;
  } 

  .profile__avatar-btn::after {
    content: "Edit profile";
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }
}
